.Attendance-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* border: 1px black solid; */
}
.Attendance-body {
  display: flex;
  flex: 1;
}
.employee-details {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
  border: 1px black solid;
}
