.Filter-container {
  background-color: #f6f7f9;
  width: 70vw;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.Filter-inside-container {
  background-color: white;
  border: 1px lightgray solid;
  display: flex;
  width: 90%;
  height: 60%;
  justify-content: space-evenly;
  align-items: center;
}
.radiobutton-container {
  display: flex;
  flex-direction: column;
}

.Date-body {
  display: flex;
  flex-direction: column;
}
.Apply-button {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ed1515;
  color: white;
  border-radius: 5px;
}
